# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/

!bin/bootstrap
!bin/healthcheck
!bin/percona-server-for-mysql-operator
