; https://editorconfig.org/
; https://raw.githubusercontent.com/editorconfig/editorconfig-core-go/720aac4/.editorconfig

root = true

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[{Makefile,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
indent_size = 4

[*.md]
indent_size = 4
trim_trailing_whitespace = false

eclint_indent_style = unset

[Dockerfile]
indent_size = 4

[Jenkinsfile]
indent_style = space
indent_size = 4
