apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: percona-server-for-mysql-operator-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: percona-server-for-mysql-operator-role
subjects:
- kind: ServiceAccount
  name: percona-server-for-mysql-operator
  namespace: default
