apiVersion: ps.percona.com/v1alpha1
kind: PerconaServerMySQL
metadata:
  name: cluster1
spec:
  secretsName: cluster1-secrets
  sslSecretName: cluster1-ssl
  backup:
    image: percona/percona-xtrabackup:8.0.28
    imagePullPolicy: Always
    storages:
      fs-pvc:
        type: filesystem
        volumeSpec:
          persistentVolumeClaim:
            resources:
              requests:
                storage: 256M
  mysql:
    image: percona/percona-server:8.0.28
    imagePullPolicy: Always

    size: 3
    sizeSemiSync: 0

    resources:
      requests:
        memory: 512M
      limits:
        memory: 1G

    affinity:
      antiAffinityTopologyKey: "kubernetes.io/hostname"
#      advanced:
#        nodeAffinity:
#          requiredDuringSchedulingIgnoredDuringExecution:
#            nodeSelectorTerms:
#            - matchExpressions:
#              - key: kubernetes.io/e2e-az-name
#                operator: In
#                values:
#                - e2e-az1
#                - e2e-az2

    expose:
      enabled: false
      type: ClusterIP

    volumeSpec:
      persistentVolumeClaim:
        resources:
          requests:
            storage: 2G

#    configuration: |
#      max_connections=250

#    sidecars:
#    - name: noop-memory
#      image: busybox
#      command: ["sleep", "30d"]
#      volumeMounts:
#      - name: "memory-vol"
#        mountPath: "/var/log/app/memory"
#      resources:
#        requests:
#          memory: 16M
#    - name: noop-pvc
#      image: busybox
#      command: ["sleep", "30d"]
#      volumeMounts:
#      - name: "pvc-vol"
#        mountPath: "/var/log/app/pvc"
#    sidecarVolumes:
#    - name: "memory-vol"
#      emptyDir:
#        medium: "Memory"
#    sidecarPVCs:
#    - name: pvc-vol
#      spec:
#        resources:
#          requests:
#            storage: 1G

  orchestrator:
    image: perconalab/percona-server-mysql-operator:main-orchestrator
    imagePullPolicy: Always

    size: 3

    affinity:
      antiAffinityTopologyKey: "kubernetes.io/hostname"
#      advanced:
#        nodeAffinity:
#          requiredDuringSchedulingIgnoredDuringExecution:
#            nodeSelectorTerms:
#            - matchExpressions:
#              - key: kubernetes.io/e2e-az-name
#                operator: In
#                values:
#                - e2e-az1
#                - e2e-az2

    resources:
      requests:
        memory: 128M
      limits:
        memory: 256M

    volumeSpec:
      persistentVolumeClaim:
        resources:
          requests:
            storage: 1G

  pmm:
    enabled: false

    image: percona/pmm-client:2.25.0
    imagePullPolicy: Always

    serverHost: monitoring-service
    serverUser: admin
