apiVersion: ps.percona.com/v2
kind: PerconaServerForMySQL
metadata:
  name: cluster1
spec:
  secretsName: cluster1-secrets
  sslSecretName: cluster1-ssl
  mysql:
    size: 3
    sizeSemiSync: 0
    expose:
      enabled: false
      type: ClusterIP
    imagePullPolicy: Always
    image: percona/percona-server:8.0.25
    volumeSpec:
      persistentVolumeClaim:
        resources:
          requests:
            storage: 2G
  orchestrator:
    size: 1
    imagePullPolicy: Always
    image: perconalab/percona-server-mysql-operator:main-orchestrator
    volumeSpec:
      persistentVolumeClaim:
        resources:
          requests:
            storage: 1G
  pmm:
    enabled: false
    image: percona/pmm-client:2.18.0
    serverHost: monitoring-service
    serverUser: admin
    imagePullPolicy: Always
