
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: perconaserverformysqlbackups.ps.percona.com
spec:
  group: ps.percona.com
  names:
    kind: PerconaServerForMySQLBackup
    listKind: PerconaServerForMySQLBackupList
    plural: perconaserverformysqlbackups
    singular: perconaserverformysqlbackup
    shortNames:
    - ps-backup
    - ps-backups
  scope: Namespaced
  versions:
  - name: v2
    schema:
      openAPIV3Schema:
        description: PerconaServerForMySQLBackup is the Schema for the perconaserverformysqlbackups
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: PerconaServerForMySQLBackupSpec defines the desired state
              of PerconaServerForMySQLBackup
            properties:
              foo:
                description: Foo is an example field of PerconaServerForMySQLBackup.
                  Edit perconaserverformysqlbackup_types.go to remove/update
                type: string
            type: object
          status:
            description: PerconaServerForMySQLBackupStatus defines the observed state
              of PerconaServerForMySQLBackup
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
